header {
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: white;
}

.Jobs {
  max-width: 1020px;
  margin-left: calc(100% / 4);
  display: flex;
  flex-wrap: wrap;
}

.job {
  width: 300px;
  height: 300px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 52px 20px 20px 0;
}
.job h2 {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 20px;
}

.job p {
  font-size: 18px;
  margin-bottom: 16px;
  margin-left: 10px;
}

.red {
  border: 10px solid #e30413;
}

.green {
  border: 10px solid #3ea535;
}

.blue {
  border: 10px solid #039fe3;
}
.yellow {
  border: 10px solid #ffee00;
}
.beige {
  border: 10px solid #f8c5af;
}

footer {
  height: 63px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 18px;
}
.bold {
  font-weight: bold;
}
@media (max-width: 1379px) {
  .Jobs {
    margin-left: calc(50% / 4);
  }
}

@media (max-width: 1184px) {
  .Jobs {
    margin-left: calc(50% / 8);
    justify-content: space-between;
  }

  .job {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 948px) {
  .Jobs {
    margin-left: calc(50% / 16);
  }

  .job {
    width: 200px;
    height: 200px;
  }
}
